.container {
  max-width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  color: lightgray;
}

.container {
  margin-top: 2em;
}

.productCards-item {
  margin: 2em 0em;
}
